body {
    margin: 0;
    background-color: #DCDCDC;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Special Elite', cursive;
}
.div {
    width: auto;
}
.container {
    margin: auto;
    width: 850px;
}

#floater {
    position: fixed;
    top: 0;
    background-image: url("assets/img/white world.jpg");
    background-size: 100%;
    background width: 120%;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom-style: solid;
    border-color: black;
    margin-top: auto;
    width: 100%;
    
}

.img-re {
    border: solid black .5px;
    width: 100%;
}

.colum30 {
    width: 34%;
}

.colum60 {
    padding-left: 5px;
    width: 64%;
}


.colum30 ,
.colum60 {
    display: inline-block;
}
.colum301 {
    width: 34%;
}

.colum601 {
    width: 64%;
    vertical-align: top;
}
.colum301 ,
.colum601 {
    display: inline-block;
}

#ul {
    padding-left: 185px; 
    
}
#bio {
    padding-top: 220px;
}

#skill {
    margin-top: 0;
}

a:link {
    text-decoration: none;
}

li {
    list-style: none;
}

a:visited {
    color: black;
}
.myProject li {
    display: inline-block;
}
}
